/* Globals*/ 


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

body{
    background-color: rgb(14, 14, 14);
}

/*Navigation Bar*/

nav{
    position: fixed;
    /*
    Don't yet understand the importance of these commented property
    I feel I can do without them. Not sure 
    z-index: 999;
     */
    top: 0;
    background-color: rgb(14, 78, 216);
    display: flex;
    font-family: 'Lucida Sans';
    color: rgb(197, 195, 192);
    width: 100%;
    transition: 0.8s;
}

nav .navLinks{
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    gap: 20px;
}

nav div .login:hover, nav div .create:hover{
    background-color: rgb(177, 197, 199);
    color: rgb(14, 78, 216);
    transition: 0.5s;
}

nav div .login, nav div .create{
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

nav .logo{
    font-family: 'Lucida Sans';
    font-size: 45px;
    margin-left: 5px;
    font-weight: bold;
}

nav p span{
    font-size: 60px;
}

nav .burger{
    display: block;
    cursor: pointer;
    transition: 0.4s;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    margin-right: 3px;
}

nav .burger .bar{
    display: block;
    width: 15px;
    height: 2px;
    background-color: rgb(197, 195, 192);;
    margin: 3px 0;
}

/*Body Flex*/

container{
    display: flex;
}

/*Aside Styling*/

.aside{
    background-color: rgb(14, 14, 14);
    color: rgb(197, 195, 192);
    height: 100%;
    width: 7%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 100px;
    row-gap: 20px;
}



aside a{
    display: flex;
    margin-left: 30px;
    transition: 0.8s;
}

.spanHome{
    font-family: Helvetica, sans-serif;
    margin-left: 40px;
    padding-right: 10px;
}

aside .spanSignup{
    margin-left: 38px;
    font-family: Helvetica, sans-serif;
    padding-right: 10px;
}

aside .spanLogin{
    margin-left: 41.5px;
    font-family: Helvetica, sans-serif;
    padding-right: 10px;
}

/*Main Body*/

.main{
    width: 93%;
    height: 100%;
}

.backGrey{
    background-color: rgb(34, 34, 34);
    padding: 160px 60px 40px 60px;
}

.preview{
    background-color: rgb(14, 14, 14);
    color: rgb(197, 195, 192);
    display: flex;
    column-gap: 0.5em;
    padding: 30px 10px 20px 20px;
    font-family: 'Lucida Sans';
    width: 100%;
}

.Lpreview{
    display: block;
    margin: auto 0;
}

.Cpreview{
    line-height: 2em;
    margin: auto 0;
}

.Cpreview .lost{
    font-size: 20px;
    font-weight: bold;
}

.Cpreview a{
    background: none;
    color: rgb(197, 195, 192);
    border: 1px solid;
    padding: 5px 7px;
    border-radius: 4px;
    font-family: 'Lucida Sans';
    font-size: 15px;
}


.Cpreview .share{
    margin-right: 10px;
}

.Cpreview .share:hover{
    background-color: rgb(14, 78, 216);
    border-color: rgb(14, 78, 216);
    transition: 0.4s;
}

.Cpreview .report:hover{
    background-color: rgb(194, 175, 5);
    border-color: rgb(194, 175, 5);
    transition: 0.4s;
}

.Cpreview a i{
    margin-right: 4px;
}

.Rpreview{
    display: block;
    margin: auto 0 auto auto;
    font-size: 25px;
    font-weight: bold;
}

.button a{
    padding: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 19.5pt;
    background-color: rgb(14, 140, 190);
    border-radius: 4px;
    display: block;
    margin: 270px auto 20px auto;
    width: 210px;
    text-align: center;
    color: white;
}

.backGrey{
    background-color: rgb(34, 34, 34);
    padding: 160px 10px 40px 10px;
}

.About{
    display: flex;
    margin-top: 100px;
    font-family: 'Lucida Sans';
    width: 100%;
}

.leftAbout{
    width: 68%;
}

.rightAbout{
    width: 32%;
}

.aboutFiles{
    font-size: 30px;
    color: rgb(197, 195, 192);
    margin-bottom: 8px;
}

.aboutText{
    background-color: rgb(14, 14, 14);
    color: rgb(197, 195, 192);
    width: 96%;
    padding: 20px 20px 20px 20px;
    line-height: 1.7em;
}



.compatibility, .fingerprint{
    font-size: 25px;
    color: rgb(197, 195, 192);
    margin-bottom: 8px;
    margin-top: 10px;
}

.windows{
    background-color: rgb(14, 14, 14);
    color: rgb(197, 195, 192);
    padding: 10px 8px;
    margin-bottom: 19px;
}

.windows i{
    color: rgb(39, 173, 72);
}

.underFinger{
    background-color: rgb(14, 14, 14);
    color: rgb(197, 195, 192);
    padding: 10px 5px 10px 5px;
}

.underFinger .md5{
    margin-bottom: 8px;
    
}

.underFinger div{
    display: flex;
}

.md5Text,  .shaText{
    background-color: rgb(65, 64, 64);
    padding: 8px;
    overflow-wrap:normal;
    overflow: hidden;
    width: 84%;
}

.underFinger i{
    background-color: rgb(175, 159, 159);
    padding: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.underFinger .sha{
    margin-bottom: 8px;
    margin-top: 8px;
}

/*Footer Styling*/

.footer{
    display: flex;
    justify-content: space-around;
    color: rgb(197, 195, 192);
    background-color: rgb(14, 14, 14);
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 15px;
    font-family: 'Lucida Sans';
    font-weight: bold;
}

.borderBottom{
    background-color: rgb(197, 195, 192);
    height: 1px;
    width: 96%;
}

.one{
    margin-left: -50px;
}

.footer .footerLogo{
    font-size: 50px;
    
}

.footNote{
    font-size: 11px;
    text-align: center;
}

.two p, .three p, .four p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.two li, .three li, .four li{
    font-size: 13px;
    margin-bottom: 4px;
    text-align: right;
}


.created{
    background-color: rgb(14, 14, 14);
    color: rgb(197, 195, 192);
    text-align: right;
    font-size: 13px;
    padding: 50px 60px 20px 60px;
}



.created span{
    color: grey;
}



/* JavaScript Classes */



.createSpace{
    width: 200px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}


/* Media Query */


@media (max-width:720px) {
    body{
        width: 100%;
    }
    
    .aside {
        display: none;
    }

    .main{
        min-width: 100%;
    }

    .logo a{
        font-size: smaller;
    }

    nav .navLinks{
        display: none;
    }

    container .preview{
        display: block;
        text-align: left;
    }

    .Cpreview a{
        font-size: smaller;
    }



    .Rpreview{
        margin-top: 15px;
    }

    .About{
        display:flex;
        flex-direction: column;
        width: 100%;
    }

    .aboutText{
        width: 100%;
    }

    .leftAbout, .rightAbout{
        width: 100%;
    }

    .windows{
        font-size: 10px;
    }

    .compatibility, .fingerprint{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .shaText, .md5Text{
        padding: 6px;
        width: 100%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        font-size: larger;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .one{
        margin-bottom: 20px;
        margin-left: 5px;
    }

    .two, .three, .four{
        margin-left: 5px;
    }

    .two p, .three p, .four p{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    .two li, .three li, .four li{
        text-align: center;
        margin-bottom: 10px;
    }
    
    .borderBottom{
        width: 96%;
        margin: 0 auto;
    }

};


